<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="ConfigurationVer" value="6"/>
        <add key="AppVersionsJsonUrl" value=""/>
        <add key="HexDelimiter" value="0x"/>
        <add key="Base64Mode" value="Text"/>
        <add key="Crc32Checked" value="True"/>
        <add key="Elf32Checked" value="True"/>
        <add key="Md5Checked" value="True"/>
        <add key="Sha1Checked" value="True"/>
        <add key="Sha256Checked" value="True"/>
        <add key="Sha384Checked" value="True"/>
        <add key="Sha512Checked" value="True"/>
        <add key="RandomQty" value="1000"/>
        <add key="RandomMin" value="-1000000"/>
        <add key="RandomMax" value="1000000"/>
        <add key="DateTimeStringFormat" value="dddd dd MMMM yyyy HH:mm:ss zzz"/>
        <add key="PasswordQty" value="10"/>
        <add key="PasswordLength" value="10"/>
        <add key="PasswordCharset" value="MIXALPHA_NUMERIC_ALL"/>
    </appSettings>
</configuration>
